---
import { landing_page, tool, footer } from "../../content/content-ar";
import Header from "../../components/Header.astro";
import { OpenGraph } from "pdfequips-open-graph/OpenGraph";
import Footer from "../../components/Footer";
import LandingPage from "../../components/LandingPage";
import "../../index.scss";
import Analytics from "../../components/Analytics.astro";
const lang = "ar";
---

<html lang={lang} dir="rtl">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>PDFEquips - مركز أدوات PDF الخاص بك على الإنترنت</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta
			name="description"
			content="أدوات PDF قوية لإدارة المستندات بسهولة. يمكنك دمج وتقسيم وضغط وتحويل وتدوير وفتح وإضافة علامات مائية إلى ملفاتك ببضع نقرات فقط."
		/>
		<link rel="icon" href="/logo.png" />
		<meta
			name="keywords"
			content="أدوات PDF ، التحويل إلى PDF ، JPG إلى PDF ، WORD إلى PDF ، POWERPOINT إلى PDF ، EXCEL إلى PDF ، HTML إلى PDF ، التحويل من PDF ، PDF إلى JPG ، PDF إلى WORD ، PDF إلى POWERPOINT ، PDF إلى EXCEL ، PDF إلى PDF / A ، PDF إلى نص ، دمج PDF ، ضغط PDF. "
		/>
		<Analytics />
		<OpenGraph
			ogDescription="PDFEquips - أدوات PDF مجانية على الإنترنت | قم بتبسيط احتياجات PDF الخاصة بك باستخدام PDFEquips.com"
			ogUrl="https://www.pdfequips.com/ar/"
			ogLocale="ar_AR"
			ogImage="https://www.pdfequips.com/pdfequips-ar.png"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			cross-origin=""
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
			rel="stylesheet"
		/>
		<!-- <script
			type="application/ld+json"
			dangerouslySetInnerHTML={{
				__html: JSON.stringify(websiteSchema),
			}}></script> -->
		<meta http-equiv="Content-Language" content={lang} />
		<!-- <meta name="google-adsense-account" content="ca-pub-7391414384206267" />
				<script
					async
					src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7391414384206267"
					crossOrigin="anonymous"
				></script> -->
		<meta
			name="ahrefs-site-verification"
			content="a532671b5b7f09bad30e7e65542ecf2f8f28a1ef5a25b2bec358924427540367"
		/>
	</head>
	<body>
		<Header lang={lang} />
		<LandingPage landing_page={landing_page} tool={tool} lang={lang} />
		<Footer client:load footer={footer} lang={lang} />
	</body>
</html>
