---
import { landing_page, tool, footer } from "../../content/content-es";
import Header from "../../components/Header.astro";
import { OpenGraph } from "pdfequips-open-graph/OpenGraph";
import Footer from "../../components/Footer.astro";
import LandingPage from "../../components/LandingPage";
import "../../index.scss";
import Icons from "../../components/Icons.astro";
// import Alternatives from "../../components/Alternatives.astro";
const lang = "es";
---

<html lang={lang} dir="ltr">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/images/icons/logo.svg" /> -->
    <meta name="generator" content={Astro.generator} />
    <title>PDFEquips | Herramientas PDF en línea gratuitas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Potentes herramientas PDF para administrar documentos fácilmente. Puede fusionar, dividir, comprimir, transformar, rotar, abrir y agregar marcas de agua a sus archivos con solo unos pocos clics."
    />
    <link rel="icon" href="/logo.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta
      name="keywords"
      content="Herramientas de PDF, Convertir a PDF, JPG a PDF, WORD a PDF, POWERPOINT a PDF, EXCEL a PDF, HTML a PDF, Convertir de PDF, PDF a JPG, PDF a WORD, PDF a POWERPOINT, PDF a EXCEL, PDF a PDF/A, PDF a texto, Combinar PDF, Comprimir PDF"
    />
    <OpenGraph
      ogDescription="PDFEquips - Herramientas PDF en línea gratuitas | Simplifique sus necesidades de PDF con PDFEquips.com"
      ogUrl="https://www.pdfequips.com/es/"
      ogLocale="ar_ES"
      ogImage="https://www.pdfequips.com/pdfequips-es.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" cross-origin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <Icons />
    <!-- <script
			type="application/ld+json"
			dangerouslySetInnerHTML={{
				__html: JSON.stringify(websiteSchema),
			}}></script> -->
    <meta http-equiv="Content-Language" content={lang} />
    <!-- <Alternatives /> -->
    <!-- <meta name="google-adsense-account" content="ca-pub-7391414384206267" />
				<script
					async
					src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7391414384206267"
					crossOrigin="anonymous"
				></script> -->
    <meta
      name="ahrefs-site-verification"
      content="a532671b5b7f09bad30e7e65542ecf2f8f28a1ef5a25b2bec358924427540367"
    />
  </head>
  <body>
    <Header lang={lang} />
    <LandingPage landing_page={landing_page} tool={tool} lang={lang} />
    <Footer footer={footer} lang={lang} />
  </body>
</html>
